{% extends "base.html" %}

{% block page_content %}
<h1>用户注册</h1>
    <form method="post" action="/register">
        <label for="account">用户名：</label><br>
        <input type="text" name="account"><br>
        <label for="password">密码：</label><br>
        <input type="password" name="password"><br>
        <label for="age">年龄：</label><br>
        <input type="text" name="age"><br>
        <input type="submit" name="register" value="注册">
        <span style="color: brown">
            已有账号，去<a href="/login">登录</a>？
        </span>
    </form>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
{% endblock %}